H1{background-color:gray;color:red;font-family:calibri}
p{background-color:yellow;color:green;font-family:magneto}
h5{background-color:sky blue;color:yellow; font-family:arial}
body{background-color:maroon;color:black}